.card {
    padding: 2rem 2rem; // Adjust padding as needed
    max-width: 64rem; // Adjust width as needed
    width: 100%;
    border-radius: 0.5rem; // Rounded corners
    border: 5px solid rgba(0, 0, 0, 1);
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Shadow for depth
    background: var(--theme-bg); // Use variable from app.scss
    margin: auto; // Center the card if needed
  }

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem; // Space between form elements
}